/doc/Symptom neurology.docx
/doc/laporan.docx
/doc/penyakit.docx
/doc/FINAL PROJECT.docx
/windy01031998
/coba
/cobacoba.c
/cobacoba.exe
/cobasearch.c
/cobasearch.exe
/fflush.c
/fflush.exe
/fgets.c
/fgets.exe
/finalproject.c
/finalproject.exe
/firda221099
/fp
/fp.c
/fp.exe
/helena290897
/lala010101
/meilinda230598
/nyoba y or n.c
/nyoba y or n.exe
/nyobasearch.c
/nyobasearch.exe
/ss_0000000
/upik030798
/windy
/windy010398
/pic
